.gotfur {
    article {
        color: $content-dark !important;
        a {
            color: $decor-medium;
        }
        .bigtype {
            font-family: $tnl-font;
            font-size: 2.6em;
            color: $decor-highlight;
            margin-right: 5px;
        }
        img {
            float: right;
            width: 40%;
            margin-left: 3%;
        }
    }
}