#torche {
  background-color: blue;
  #eagle {
    position: relative;
    float: left;
    max-width: 25%; }
  #content {
    max-width: 70%;
    margin: 0 auto;
    color: #FCC;
    img {
      margin: 2em auto 3em auto; } } }

