#footer {
    display: block;
    clear: both;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    padding: 25px 3% 25px 3%;
    border-top: 30px solid black;
    h2 {
      font-variant: small-caps;
      text-align: center;
      font-size: 3em;
      @media screen and (min-width: $netbook) {
        font-size: 4.5em;
      }
    }
    @media screen and (max-width: $phone) {
        padding: 15px 0 0 0;

    }

    .links {
        display: inline-block;
        width: 28%;
        vertical-align: top;
        @media screen and (max-width: $phone) {
            width: 40%;
        }
    }
    @import "links";

    .content {
        display: inline-block;
        width: 38%;
        vertical-align: top;
        text-align: center;
        @media screen and (max-width: $phone) {
            width: 58%;
            float: right;
        }
    }
    @import "content";

    .flyers {
        display: inline-block;
        width: 24%;
        margin-right: 0;
        float: right;
        vertical-align: top;
        @media screen and (max-width: $phone) {
            width: 100%;
            display: block;
            clear: both;
            float: none;
        }
    }
    @import "flyers";

}
