.links
  include footer/links

.content
  include footer/content

.flyers
  include footer/flyers

//- a(name='recommended', tabindex='0')
//- h2 recommended
//- .recommended
  //- section
    //- include footer/recommended

