
- var homePage = 'index.php'
- var logoThumb = 'images/logo-transparency-whiteeagle-cutout-thumb.png'
- var logoIcon = 'images/logo-transparency-whiteeagle-cutout-icon.png'
- var logo400 = 'images/logo-transparency-whiteeagle-cutout-400.png'
- var logo = 'images/logo.svg'
- var promo = 'images/freakshow.jpg'
- var mrsfeagle = 'images/mrsfeagle.png'
- var mrsfeagleApplication = 'docs/mrsfeagle-application.pdf'
