.googlemap
  a(href="https://maps.google.com/maps?q=Eagle+Tavern,+12th+Street,+San+Francisco,+CA,+USA&hl=en&sll=37.770048,-122.413315&sspn=0.010974,0.01929&oq=Eagle&t=m&z=16", target="_blank")
    //- img(src="https://maps.googleapis.com/maps/api/staticmap?center=37.770049,-122.413316&markers=color:blue%7Clabel:E%7C37.770049,-122.413316&zoom=14&size=250x250&visual_refresh=true&sensor=false")
    //- img(src="https://maps.googleapis.com/maps/api/staticmap?center=37.770049,-122.413316&markers=color:blue%7Clabel:E%7C37.770049,-122.413316&zoom=14&size=250x250&visual_refresh=true&sensor=false")
    img(src="images/google-map.jpg", width='250', height='250')
  h3
    | We're just off the freeway
    br
    | 398 12th Street
    br
    | (corner of Harrison)
//-  img(src="https://maps.googleapis.com/maps/api/staticmap?center=Eagle+Tavern,+12th+Street,+San+Francisco,+CA,+United+States&zoom=16&size=300x300&visual_refresh=true&sensor=false")

.hankypic
  a(href="GayHankyCodes.php",title="Don't miss our monthly FLAG parties")
    img.thumb(src="images/hankycodes.jpeg", alt="hanky codes")
    h3 HANKY CODES