.flexslider
  ul.slides
    li
      p.rc Every 3rd Saturday
      a(href='images/carousel/bluf-lite.jpg', rel='lightbox')
        img(src='images/carousel/bluf-lite-275.jpg')
    li
      p.rc Every 4th Saturday
      a(href='images/carousel/Sadistic-generic-389x600.jpg', rel='lightbox')
        img(src='images/carousel/Sadistic-generic-389x600-275.jpg')
    li
      p.rc 3rd and 5th Sundays
      a(href='images/carousel/DDGeneric-433x650-33K.jpg', rel='lightbox')
        img(src='images/carousel/DDGeneric-433x650-33K-275.jpg')
    li
      p.rc 2nd and 4th Wednesday
      a(href='images/carousel/underwear-generic-421x650.jpg', rel='lightbox')
        img(src='images/carousel/underwear-generic-421x650-275.jpg')
    li
      p.rc Every 3rd Friday
      a(href='images/carousel/CubHouse-600.jpg', rel='lightbox')
        img(src='images/carousel/CubHouse-600-275.jpg')
    li
      p.rc Friday Cigar Nights
      a(href='images/carousel/cigardick.jpg', rel='lightbox')
        img(src='images/carousel/cigardick-275.jpg')
.nonFlexslider
  ul.slides
    li
      p.rc Every 3rd Saturday
      img(src='images/carousel/bluf-lite.jpg')
    li
      p.rc Every 4th Saturday
      img(src='images/carousel/Sadistic-generic-389x600.jpg')
    li
      p.rc 3rd and 5th Sundays
      img(src='images/carousel/DDGeneric-433x650-33K.jpg')
    li
      p.rc 2nd and 4th Wednesday
      img(src='images/carousel/underwear-generic-421x650.jpg')
    li
      p.rc Every 3rd Friday
      img(src='images/carousel/CubHouse-600.jpg')
    li
      p.rc Friday Cigar Nights
      img(src='images/carousel/cigardick.jpg')
