// fonts

$header-font: "";
$content-font: "Coming Soon";
$tnl-font: "Jolly Lodger";

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.1em; }
h5 { font-size: .8em; }
h6 { font-size: .3em; }


@media screen and (max-width: $tablet) {
  h1 {
    font-size: 1.9em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.3em;
    margin: 0.83em 0;
  }

  h3 {
    font-size: 1em;
    margin: 1em 0;
  }

  h4 {
    font-size: 0.83em;
    margin: 1.33em 0;
  }

  h5 {
    font-size: 0.8em;
    margin: 1.67em 0;
  }

  h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
  }
}
@media screen and (max-width: $phone) {
  h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.3em;
    margin: 0.83em 0;
  }

  h3 {
    font-size: 1em;
    margin: 1em 0;
  }

  h4 {
    font-size: 0.83em;
    margin: 1.33em 0;
  }

  h5 {
    font-size: 0.8em;
    margin: 1.67em 0;
  }

  h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
  }
}