include ../common/header
    #root
        #page.simple.gotfur
            a(href=homePage)
                img.logo(src=logo, alt='logo')
            section
                article
                    a(href='images/events/LOveFur-1000x1000_SANFRAN-600x600.jpg', rel='lightbox')
                        img.flyer(src='images/events/LOveFur-1000x1000_SANFRAN-600x600.jpg', alt='lovefur')

                    p
                        span.bigtype Love&nbsp;Fur
                        |  is London's sexiest hairy men party. It's a hot club night where everything hairy is adored, be it hairy bears, cubs, muscle bears, or hairy muscle men.

                    p It's a concept of DJ Gordon John from London who's been DJ'ing in clubs all over the world for 10 years and has lots of experience producing hot club nights. Gordon John has DJ'ed at most of the big gay clubs in London: Fire, DTPM, Trade, Crash, Heaven as well as up north in Manchester, Birmingham, Leeds and Nottingham. Down west in Cardiff, Bristol and Plymouth. Abroad in Milan, Rome, Verona, Paris, Amsterdam, Barcelona, Berlin, Hamburg, Munich, Cologne, Copenhagen, Helsinki, USA, Canada & South Africa. He will be bringing his infectious funky tech house to San Francisco. Check him out on
                        a(href='http://www.soundcloud.com/dj-gordon-john', alt='DJ Gordon John', target='_blank')
                            |  SoundCloud

                    p The party will be at the SF Eagle in San Francisco on Saturday, November 30th: The perfect venue for this night of hairy hunks. The Eagle always attracts the hottest furry creatures.

                    p There will also be a competition that night for the hottest hunk and there will be some amazing prizes. Sister Roma, a national treasure in San Francisco, will be hosting alongside some very sexy, well known gogo boys. There may also be an appearance by Mr IML 2013.

                    p This night is supported by
                        a(href='http://www.recon.com/', alt='recon.com', target='_blank')
                            |  Recon
                        |  and
                        a(href='http://bigmusclebear.com', alt='bigmusclebear.com', target='_blank')
                            |  BigMuscleBears

                    p The cover is $8. The party starts at 9pm

                    p Make sure you don't miss out on the hottest hairy party of 2013

            #page-footer
        #footer
            include ../common/footer
    include ../common/scripts