include ../common/header
  #root
    #page.simple.softball
      a(href=homePage)
        img.logo(src=logo, alt='logo')
      .content
        header.cf
          span •EAGLE SOFTBALL•
        section.content
          include softball.php
      #page-footer
    #footer
      include ../common/footer
  include ../common/scripts

