include ../common/header
  #root
    #page.simple.hanky
      a(href=homePage)
        img.logo(src=logo, alt='logo')
      section
        header
          h1 GAY HANKY CODES
        article
          p#intro
            | The Hanky Code is a traditional form of signalling to others what your
            | sexual preferences and interests are. Gay men used this code to communicate
            | with each other in the noisy and distracting environment of gay bars. Although
            | not as widely used these days, it is still a worthwhile resource and is,
            | among those who know, a great conversation starter.
          table(border='5', cellspacing='2', cellpadding='2', width='70%', align='center')
            thead
              tr(style='background-color: #ff80c0')
                th COLOR
                th WORN ON LEFT
                th WORN ON RIGHT
            tbody
              tr(style='background-color: black')
                td
                  span(style='color: white') BLACK
                td
                  span(style='color: white') heavy SM top
                td
                  span(style='color: white') heavy SM bottom
              tr(style='background-color: silver')
                td GREY
                td bondage top
                td fit to be tied!
              tr(style='background-color: aqua')
                td BLUE, Light
                td wants head
                td cocksucker
              tr(style='background-color: #48b0f7')
                td BLUE, Robin's Egg
                td 69er
                td anything but 69ing
              tr(style='background-color: #6060ff')
                td BLUE, Medium
                td cop
                td copsucker
              tr(style='background-color: navy')
                td
                  span(style='color: white') BLUE, Navy
                td
                  span(style='color: white') fucker (top)
                td
                  span(style='color: white') fuckee (bottom)
              tr(style='background-color: #80c0ff')
                td BLUE, Airforce
                td pilot/flight attendant
                td likes flyboys
              tr(style='background-color: #80ffff')
                td BLUE, Light w/WHITE Stripe
                td sailor
                td lookin' for salty seamen
              tr(style='background-color: #00c0c0')
                td BLUE, Teal
                td cock & ball torturer
                td cock & ball torturee
              tr(style='background-color: red')
                td RED
                td fist fucker
                td fist fuckee
              tr(style='background-color: #c00080')
                td MAROON
                td cuts
                td bleeds
              tr(style='background-color: #a00000')
                td RED, Dark
                td 2-handed fister
                td 2-handed fistee
              tr(style='background-color: #ffb0ff')
                td PINK, Light
                td dildo fucker
                td dildo fuckee
              tr(style='background-color: #ff60ff')
                td PINK, Dark
                td tit torturer
                td tit torturee
              tr(style='background-color: #e000c0')
                td MAUVE
                td into navel worshippers
                td has a navel fetish
              tr(style='background-color: fuchsia')
                td MAGENTA
                td suck my pits
                td armpit freak
              tr(style='background-color: #c000c0')
                td PURPLE
                td piercer
                td piercee
              tr(style='background-color: #f040ff')
                td LAVENDER
                td likes drag queens
                td drag queen
              tr(style='background-color: yellow')
                td YELLOW
                td pisser/WS
                td piss freak
              tr(style='background-color: #ffffc0')
                td YELLOW, Pale
                td spits
                td drool crazy
              tr(style='background-color: #c0c000')
                td MUSTARD
                td hung 8"+
                td wants 8"+
              tr(style='background-color: #ffe040')
                td GOLD
                td two looking for one
                td one looking for two
              tr(style='background-color: #ff8000')
                td ORANGE
                td anything anytime
                td nothing now (just cruising)
              tr(style='background-color: #ffc000')
                td APRICOT
                td two tons o' fun
                td chubby chaser
              tr(style='background-color: #ff6000')
                td CORAL
                td suck my toes
                td shrimper (sucks toes)
              tr(style='background-color: #c04040')
                td RUST
                td a cowboy
                td a cowboy's horse
              tr(style='background-color: #e00080')
                td FUSCHIA
                td spanker
                td spankee
              tr(style='background-color: lime')
                td GREEN, Kelly
                td hustler (for rent)
                td john (looking to buy)
              tr(style='background-color: #00c000')
                td GREEN, Hunter
                td daddy
                td orphan boy looking for daddy
              tr(style='background-color: #90a040')
                td OLIVE DRAB
                td military top
                td military bottom
              tr(style='background-color: #a0ff00')
                td GREEN, Lime
                td dines off tricks (food)
                td dinner plate (will buy dinner)
              tr(style='background-color: #e0c080')
                td BEIGE
                td rimmer
                td rimmee
              tr(style='background-color: #806040')
                td BROWN
                td scat top
                td scat bottom
              tr(style='background-color: #806040')
                td BROWN LACE
                td uncut
                td likes uncut
              tr(style='background-color: #806040')
                td BROWN SATIN
                td cut
                td likes cut
              tr(style='background-color: #606060')
                td CHARCOAL
                td latex fetish top
                td latex fetish bottom
              tr(style='background-color: gray')
                td GREY FLANNEL
                td owns a suit
                td likes men in suits
              tr(style='background-color: white')
                td WHITE
                td beat my meat (J/O)
                td I'll do us both (J/O)
              tr(style='background-color: white')
                td HOLSTEIN
                td milker
                td milkee
              tr(style='background-color: #f0f0f8')
                td CREAM
                td cums in condoms
                td sucks cum out of condoms
              tr(style='background-color: white')
                td BLACK w/WHITE Check
                td safe sex top
                td safe sex bottom
              tr(style='background-color: red')
                td RED w/WHITE Stripe
                td shaver
                td shavee
              tr(style='background-color: red')
                td RED w/BLACK Stripe
                td furry bear
                td likes bears
              tr(style='background-color: white')
                td WHITE LACE
                td likes white bottoms
                td likes white tops
              tr(style='background-color: black')
                td
                  span(style='color: white') BLACK w/WHITE Stripe
                td
                  span(style='color: white') likes black bottoms
                td
                  span(style='color: white') likes black tops
              tr(style='background-color: #806040')
                td BROWN w/WHITE Stripe
                td likes latino bottoms
                td likes latino tops
              tr(style='background-color: yellow')
                td YELLOW w/WHITE Stripe
                td likes asian bottoms
                td likes asian tops
              tr(style='background-color: aqua')
                td BLUE, Light w/WHITE Dots
                td likes white suckers
                td likes to suck whites
              tr(style='background-color: aqua')
                td BLUE, Light w/BLACK Dots
                td likes black suckers
                td likes to suck blacks
              tr(style='background-color: aqua')
                td BLUE, Light w/BROWN Dots
                td likes latino suckers
                td  likes to suck latinos
              tr(style='background-color: aqua')
                td BLUE, Light w/YELLOW Dots
                td likes asian suckers
                td likes to suck asians
              tr(style='background-color: #ff8080')
                td RED/WHITE GINGHAM
                td park sex top
                td park sex bottom
              tr(style='background-color: #806040')
                td BROWN CORDUROY
                td headmaster
                td student
              tr(style='background-color: #c000c0')
                td PAISLEY
                td  wears boxer shorts
                td likes boxer shorts
              tr(style='background-color: #806040')
                td FUR
                td bestialist top
                td bestialist bottom
              tr(style='background-color: #ffe040')
                td GOLD LAME
                td likes muscleboy bottoms
                td likes muscleboy tops
              tr(style='background-color: #e0e0e0')
                td SILVER LAME
                td starfucker
                td celebrity
              tr(style='background-color: black')
                td
                  span(style='color: white') BLACK VELVET
                td
                  span(style='color: white') has/takes videos
                td
                  span(style='color: white') will perform for the camera
              tr(style='background-color: white')
                td WHITE VELVET
                td voyeur (likes to watch)
                td will put on a show
              tr(style='background-color: #e0d000')
                td LEOPARD
                td has tattoos
                td likes tattoos
              tr(style='background-color: #c0b080')
                td TAN
                td smokes cigars
                td likes cigars
              tr(style='background-color: #c0a000')
                td TEDDY BEAR
                td cuddler
                td cuddlee
              tr(style='background-color: white')
                td KEWPIE DOLL
                td chicken (under-aged)
                td chicken hawk (likes young adolescents)
              tr(style='background-color: #f0f0f0')
                td DIRTY JOCKSTRAP
                td wears a dirty jock
                td sucks dirty jocks clean
              tr(style='background-color: white')
                td DOILY
                td tearoom top (pours)
                td tearoom bottom (drinks)
              tr(style='background-color: #a0c0a0')
                td MOSQUITO NETTING
                td outdoor sex top
                td outdoor sex bottom
              tr(style='background-color: white')
                td ZIPLOC BAG
                td has drugs
                td looking for drugs
              tr(style='background-color: white')
                td COCKTAIL NAPKIN
                td bartender
                td bar groupie
              tr(style='background-color: white')
                td KLEENEX
                td stinks
                td sniffs
              tr(style='background-color: white')
                td KEYS IN FRONT
                td has a car
                td looking for a ride
              tr(style='background-color: white')
                td KEYS IN BACK
                td has a home
                td needs a place to stay
              tr(style='background-color: white')
                td HOUNDSTOOTH
                td likes to nibble
                td willing to be bitten
              tr(style='background-color: red')
                td UNION JACK
                td skinhead top
                td skinhead bottom
              tr(style='background-color: white')
                td CALICO
                td new in town
                td tourists welcome
              tr(style='background-color: white')
                td TERRYCLOTH
                td bathhouse top
                td bathhouse bottom
              tr(style='background-color: white')
                td WHITE w/MULTICOLOR Dots
                td hosting an orgy
                td looking for an orgy
          a(href='http://user.xmission.com/~trevin/twink112.html') To TWINK CODES
      #page-footer
    #footer
      include ../common/footer
  include ../common/scripts